<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Selenium.AutomationTestcases.listeners"></listener>
</listeners>

  <test thread-count="5" name="ProductOrder">
    <classes>
      <class name="Selenium.AutomationTestcases.productOrderTest"/>
    </classes>
    
  </test> <!-- Test -->
   <test thread-count="5" name="ErrorValidation">
    <classes>
      <class name="Selenium.AutomationTestcases.errorValidationTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="login_ErrorValidation">
    <classes>
      <class name="Selenium.AutomationTestcases.login_logout_Test"/>
    </classes>
  </test> <!-- Test -->
  
 </suite> <!-- Suite -->
